
.container-cadastro-pergunta {

    .input-titulo {

        .sub-titulo {
            margin-bottom: 0;
        }

        .estilo-input-first {
            width: 97.5%;
            border: 1px solid #9798B4;
        }

    }

    .input-descricao {

        .sub-titulo {
            margin-bottom: 0;
        }

        .estilo-input-second {
            width: 95.2%;
            min-height: 25vh;
            border: 1px solid #9798B4;
            border-radius: 8px;
            padding: 2%;
            outline: none;
            overflow-y: auto;

            .option-inpt{
                border-radius: none;
                border-radius: 8px;
                height: 43px;
            }
        }

    }

    .box-btn {
       

        .sub-titulo {
            margin-bottom: 0;
        }

        .categoria-pergunta {
            display: flex; 
            width: 92%;
            // background-color: black;
            justify-content: space-between;
            justify-items: baseline;
      

            .estilo-input-three {
                height: 43px;
                padding: 0 30px;
                border-radius: 8px;
                border: 1px solid  #9798B4;;
            }
            
            .click-button {
            width: 120%;
            margin: 0;
            align-items: flex-start;
            padding: 0;
            
        }

        }

        
    }
}

.categoria-pergunta4 {
    display: flex; 
    width: 92%;
    // background-color: black;
    justify-content: space-between;
    justify-items: baseline;
    margin-right: 10px;


    .estilo-input-three {
        height: 43px;
        padding: 0 10px;
        border-radius: 8px;
        border: 1px solid  #9798B4;;
    }
}


.categoria-perguntaModal {
    display: flex; 
    width: 92%;
    // background-color: black;
    justify-content: space-between;
    justify-items: baseline;
    margin-right: 10px;


    .estilo-input-three {
        height: 43px;
        padding: 0 30px;
        border-radius: 8px;
        border: 1px solid  #9798B4;;
    }

    .click-button {
        width: 120%;
        margin: 0;
        align-items: flex-start;
        padding: 0 40px;
    }
}
    