
.container-cadastro-editar {

    .input-titulo {

        .sub-titulo {
            margin-bottom: 0px;
        }

        .estilo-input-first {
            width: 97.5%;
            border: 1px solid #9798B4;
        }

    }

    .input-descricao {

        .sub-titulo {
            margin-bottom: 0px;
        }

        .estilo-input-second {
            width: 96%;
            min-height: 25vh;
            border: 1px solid #9798B4;
            border-radius: 10px;
            padding: 2%;
            outline: none;
            overflow-y: auto;

            .option-inpt{
                border-radius: none;
                border-radius: 10px;
                height: 43px;
            }
        }

    }

    .box-btn {
       

        .sub-titulo {
            margin-bottom: 0;
        }

        .categoria-pergunta {
            display: flex; 
            width: 98.6%;
            justify-content: space-between;
            justify-items: baseline;
      
      

            .estilo-input-three {
                height: 43px;
                border-radius: 10px;
                border: 1px solid  #9798B4;;
            }
            
            .click-button-editar {
            margin: 0;
            align-items: flex-start;
            padding: 0;
            margin-left: 200px;
            margin-top: 0;
            
        }

        }

        
    }
}